{% extends "core.html" %}
{% load static %}
{% block content %}
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">My movies</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">All movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pending</a>
                        </li>
                    </ul>
                    <a class="text-success nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-plus"></i> Suggest movie
                    </a>
                    {% if user.is_superuser %}
                        <a href="/admin" class="text-info nav-link"> <i class="fas fa-wrench"></i>
                            Administration</a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="text-danger nav-link"> <i class="fas fa-sign-out-alt"></i>
                        Logout</a>
                </div>
            </div>
        </nav>
    </header>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suggest new movie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-body">

                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy form %}
                        <br>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Submit" class="btn btn-success">

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}